@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

body{
    height: 100vh;
    margin: 0px;
    font-size: 18px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont,"SegoeUI",Roboto,"Helvetica Neue",Arial,"Noto Sans", sansserif;
    display: flex;
    background:linear-gradient(to bottom, #7FFFD4, #00FFFF, #003554);
    flex-direction: column;
}

header .container{
    display: flex;
    font-size: 15px;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

header img{
    width: 50px;
}

.main-page{
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.form-content{
    background: #db6c91ef;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}

#adduser{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
}

.form-group{
    padding: 20px;
    
}

.form-group label{
    padding: 10px;
    font-size: 20px;
    width: 100px;
    display: inline-block;

}
input {
    width: 500px;
    margin-bottom: -10px;
    padding-bottom: 10px;
}
input[type=text]{
    width: 90%;
    display: inline-block;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}

#savebtn{
    background-color: rgba(63, 182, 221, 0.911);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;

}

select{
    padding: 12px;
    width: 90%;
    font-size: 20px;
    border-radius: 10px;
}

.sidebar{
    width: 360px;
    height: 100%;
    background: #F8F4F9;
}

.side-button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-weight: bold;
    font-size: 13px;
    color: #2D3748;
}

.side-button:hover{
    background: #2D3748;
    cursor: pointer;
    color: #F8F4F9;
}

.sidebar span{
    padding-right: 5px;
}

.sidebar hr{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.content{
    background: #508CA4;
    width: 100%;
}

.dashboard{
    padding: 2rem;
    padding-top: 1rem;
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-btn{
    display: flex;
    align-items: center;
    background: #67AAF9;
    color: #F8F4F9;
    border: none;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contact-btn:hover{
    cursor: pointer;
    background: #053c7a;
}

.contact-btn span{
    padding-right: 5px;
}

.contact-list{
    background: #DBD3D8;
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.filter-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter-by{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
}

.filter-by span{
    padding-right: 5px;
}

.filter-section li{
    list-style-type: none;
    float: left;
}

.filter-section li p{
    padding: 1rem;
}

.filter-section li p:hover{
    color: #67AAF9;
    cursor: pointer;
}

.footer{
    flex-shrink: 0;
    color: #F8F4F9;
    display: flex;
    justify-content: center;
}

/*Add User Styles*/


/*List User Styles*/

#viewUserList{
    padding: 2rem;
    padding-top: 1rem;
}

#userListDiv{
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

#checkingR{
    visibility: hidden;
}

#userListDiv button{
    display: flex;
    align-items: center;
    background: #67AAF9;
    color: #F8F4F9;
    border: none;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
}

#userListDiv a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

#userListDiv button:hover{
    background-color: darkblue;
}


#userListresult{
    background: #DBD3D8;
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


#uTable{
    border-collapse: collapse;
    width: 100%;
}

#uTable td, #uTable th{
    border: 1px solid #ddd;
    padding: 8px;
}

#uTable tr:nth-child(even){background-color: white;}
#uTable tr:nth-child(odd){background-color:ghostwhite}

#uTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #E8E8E8;
    color: black;
}
