@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

body{
    height: 100vh;
    margin: 0px;
    font-size: 18px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont,"SegoeUI",Roboto,"Helvetica Neue",Arial,"Noto Sans", sansserif;
    display: flex;
    background:linear-gradient(to bottom, #7FFFD4, #00FFFF, #003554);
    flex-direction: column;
}

header .container{
    display: flex;
    font-size: 15px;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

header img{
    width: 50px;
}

.main-page{
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.sidebar{
    width: 360px;
    height: 100%;
    background: #F8F4F9;
}

.side-button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-weight: bold;
    font-size: 13px;
    color: #2D3748;
}

.side-button:hover{
    background: #2D3748;
    cursor: pointer;
    color: #F8F4F9;
}

.sidebar span{
    padding-right: 5px;
}

.sidebar hr{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.content{
    background: #508CA4;
    width: 100%;
}

.dashboard{
    padding: 2rem;
    padding-top: 1rem;
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-btn{
    display: flex;
    align-items: center;
    background: #67AAF9;
    color: #F8F4F9;
    border: none;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contact-btn:hover{
    cursor: pointer;
    background: #053c7a;
}

.contact-btn span{
    padding-right: 5px;
}

.contact-list{
    background: #DBD3D8;
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.filter-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter-by{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
}

.filter-by span{
    padding-right: 5px;
}

.filter-section li{
    list-style-type: none;
    float: left;
}

.filter-section li p{
    padding: 1rem;
}

.filter-section li p:hover{
    color: #67AAF9;
    cursor: pointer;
}

.footer{
    flex-shrink: 0;
    color: #F8F4F9;
    display: flex;
    justify-content: center;
}