.container{
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont,"SegoeUI",Roboto,"Helvetica Neue",Arial,"Noto Sans", sansserif;
}
    
    
    /*Kevin */


    

    /*Kimberly */



    /* Peter */




    /*Kerene*/




    /*Shantay*/