*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box

}
header{
    display: flex;
    background-color: rgb(3, 123, 123);
}

.banner img{
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.notesHeading img{
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.notesHeading{
    display: flex;
}

h1{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body .viewContainer{
    padding-top: 20px;
}

body .viewContainer .buttonsAndProfile{
    display: grid;
    grid-template-columns: 80% 10% 10%;
    
    

}
.assign{
    background-color: yellow;
    border-radius: 5px;
    border-color: yellow;
}

.switch{
    background-color: rgb(13, 149, 13);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border-color: rgb(13, 149, 13);
}

.contactDetails{
    border-style: solid;
    margin-top: 50px;
    border-width: thin;
    border-radius: 8px;
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 300px;
    row-gap: 30px;
    padding-bottom: 50px;
    
}

.contactDetails h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    padding-top: 20px;
    
}

.notes{
    border-style: solid;
    border-width: thin;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

#notesHeading{
    margin-left: 3px;
}

#noteInput{
    padding-bottom: 150px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    
}

.viewNotes{
    padding-top: 125px;
    padding-bottom: 125px;
}

.addNotes{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px; 
    padding-bottom: 20px;
}

.addNoteContainer{

    background-color: rgb(217, 215, 215);
}

